<div class="column" data-column="1">
    <div class="headfazer">
        <span>A Fazer</span>
    </div>
    <div class="body">
        <div class="cards_list"></div>
    </div>
</div>

<div class="column" data-column="2">
    <div class="headprog">
        <span>Em andamento</span>
    </div>
    <div class="body">
        <div class="cards_list"></div>
    </div>
</div>

<div class="column" data-column="3">
    <div class="headfinish">
        <span>Finalizado</span>
    </div>
    <div class="body">
        
        <div class="cards_list"></div>
    </div>
</div>

<div class="column" data-column="4">
    <div class="headarq">
        <span>Arquivado</span>
    </div>
    <div class="body">
        <div class="cards_list"></div>
    </div>
</div>