body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}
/*Início da header/topbar/navbar*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #155967;
    padding: 1rem 2rem;
    color: white;
    flex-direction: row;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    margin-right: 2rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

    .icon img {
        width: 20px;
        height: 20px;
    }

.menu {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 1rem;
    background-color: #e0e0e0;
    padding: 0.5rem;
    border-radius: 5px;
}

    .menu li a {
        color: #333;
        text-decoration: none;
        font-size: 1rem;
    }

.user {
    cursor: pointer;
}

    .user img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

.user-menu {
    display: none;
    position: fixed;
    right: 2rem;
    top: 4rem;
    background-color: #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

    .user-menu ul {
        list-style: none;
        padding: 1rem;
    }

        .user-menu ul li {
            margin-bottom: 1rem;
        }

            .user-menu ul li a {
                color: #333;
                text-decoration: none;
                font-size: 1rem;
            }

.show {
    display: block;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

/*Fim da navbar*/
.content {
    flex: 1;
    padding: 40px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    color: #155967;
}

.profile-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 430px;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
    position: relative; /* Para permitir o posicionamento absoluto do ícone */
}

    .profile-header .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 20px; /* Espaço entre a foto e o título */
    }

    .profile-header h3 {
        font-size: 32px;
        color: #155967;
        margin: 0;
    }

    .profile-header p {
        color: #999;
        font-size: 14px;
        margin-top: 10px;
    }

.camera-icon {
    font-size: 24px;
    color: #454545;
    position: absolute;
    bottom: 10px;
    left: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    form input {
        width: 80%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
        position: relative;
        box-sizing: border-box;
    }

section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.confirm-btn {
    width: 200px;
    background-color: #155967;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

    .confirm-btn:hover {
        background-color: #559da8;
    }

.cancel-btn {
    width: 200px;
    background-color: #ccc;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

    .cancel-btn:hover {
        background-color: #929292;
        color: white;
    }

.delete-group {
    color: #d9534f;
    font-size: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

    .delete-group:hover {
        text-decoration: underline;
    }

input::placeholder {
    color: #999;
    font-size: 16px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}
