@model List<GETAF.Models.Entities.GrupoUsuario>

    @foreach (var usuario in Model) {
        <tr>
            <td><a href="#">@usuario.Usuario.Nome</a></td>
            <td>Membro</td>
            <td><a class="material-symbols-outlined" onclick="showModal('{membro}')">delete_forever</a></td>
        </tr>
    }

