
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

h3 {
    font-size: 20px;
    color: #5ca1b2;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.btns {
    justify-content: space-around;
    display: flex;
}


.start-btn {
    background-color: #207283;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

    .start-btn:hover {
        background-color: #155967;
    }

    

.content {
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
    color: #155967;
    text-align: center;
    padding-bottom: 15px;
}

#group-name {
    color: #155967;
    padding-bottom: 15px;
}

.user-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.quiz-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 430px;
    margin: 0 auto;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}
