body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('../../Imagens/backgroud-unifocus.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(21, 89, 103, 0.4) 5px 5px, rgba(21, 89, 103, 0.3) 10px 10px, rgba(21, 89, 103, 0.2) 15px 15px, rgba(21, 89, 103, 0.1) 20px 20px, rgba(21, 89, 103, 0.05) 25px 25px;
    padding: 30px;
    width: 350px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

    .logo img {
        width: 90px;
    }

.formulario {
    margin-bottom: 15px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 15px;
}

.submit {
    background-color: #207283;
    color: white;
    transition: background-color 0.3s ease;
    padding: 12px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    margin-top: 40px;
}

    .submit:hover {
        background-color: #155967;
    }

.login {
    text-align: center;
    font-size: 32px;
    color: #155967;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"]:hover {
    background-color: #559da8;
}

.esqueci-senha {
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
}

    .esqueci-senha a {
        color: #559da8;
        text-decoration: none;
    }

        .esqueci-senha a:hover {
            text-decoration: underline;
            color: #559da8;
        }

.conta {
    text-align: center;
    padding: 10px;
    font-size: 13px;
}

.criar-conta {
    text-align: center;
}

.criar-conta a {
        color: #559da8;
        text-decoration: none;
    }

.criar-conta a:hover {
            color: #559da8;
            text-decoration: underline;
        }

input::placeholder {
    color: #999;
    font-size: 16px;
}
