body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.icone-menu {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: #80c8d8;
    color: #fff;
    position: fixed;
    z-index: 2;
    top: 15px;
    left: 7px;
}

.titulo {
    text-align: center;
    color: #155967;
    padding-top: 40px;
}

.texto-inicial {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    color: #155967;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #80c8d8;
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: 20px;
    z-index: 1;
}

    .sidebar.aberto {
        width: 250px;
    }

    .sidebar .logo {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        color: #fff;
        font-size: 24px;
        margin-bottom: 20px;
    }

        .sidebar .logo img {
            width: 40px;
            height: auto;
            margin-right: 10px;
        }

        .sidebar .logo .logo-texto {
            display: none;
        }

    .sidebar.aberto .logo .logo-texto {
        display: inline;
    }

    .sidebar a {
        padding: 15px 20px;
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        display: flex;
        align-items: center;
        transition: background-color 0.3s;
    }

        .sidebar a .link-texto {
            display: none;
        }

    .sidebar.aberto a .link-texto {
        display: inline;
        margin-left: 10px;
    }

    .sidebar a:hover {
        background-color: #559da8;
    }

    .sidebar .botao-links {
        position: absolute;
        bottom: 20px;
        width: 100%;
    }

.content {
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
}

.icone-perfil {
    position: absolute;
    top: 20px;
    right: 20px;
}
