@{
    ViewData["Title"] = "Pomodoro";
    Layout = "_LayoutTopMenu";
}

<link rel="stylesheet" href="/css/Cronometro/Index.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container">
    <div class="main-content">
        <div class="header">
        </div>

        <div class="timer-box">
            <div id="circularProgressBar" class="timer-display">
                <span class="progress-value">25:00</span>
            </div>
            <div class="controls">
                <button id="startButton" class="btn start" onclick="startTimer()">
                    <span class="material-symbols-rounded">Começar</span>
                    <!-- Iniciar -->
                </button>
                <button id="pauseButton" class="btn pause" onclick="pauseTimer()">
                    <span class="material-symbols-rounded">Pausar</span>
                    <!-- Pausar -->
                </button>
                <button id="resumeButton" class="btn resume" onclick="resumeTimer()" style="display: none;">
                    <span class="material-symbols-rounded">Continuar</span>
                    <!-- Retomar -->
                </button>
                <button class="btn reset" onclick="resetTimer()">
                    <span class="material-symbols-rounded">Resetar</span>
                    <!-- Reiniciar -->
                </button>
                <button class="btn add-time" onclick="addTime()">
                    +5
                </button>
            </div>
        </div>
    </div>
</div>

<audio id="timerEndSound" src="./audio/alarme.mp3" preload="auto"></audio>

<script>
    function toggleUserMenu() {
        var menu = document.getElementById('user-menu');
        menu.classList.toggle('show');
    }

    let timer;
    let isRunning = false;
    let isPaused = false;
    let remainingTime = 25 * 60; // 25 minutos em segundos

    const circularProgressBarNumber = document.querySelector("#circularProgressBar .progress-value");
    const pauseButton = document.querySelector("#pauseButton");
    const resumeButton = document.querySelector("#resumeButton");
    const startButton = document.querySelector("#startButton");
    const title = document.querySelector("title");
    const timerEndSound = document.getElementById("timerEndSound");

    pauseButton.style.display = 'none';

    function formatNumberInStringMinute(number) {
        const minutes = Math.floor(number / 60);
        const seconds = number % 60;
        return `${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
    }

    function updateDisplay() {
        circularProgressBarNumber.textContent = formatNumberInStringMinute(remainingTime);
        title.text = formatNumberInStringMinute(remainingTime) + " - Cronômetro";
    }

    function startTimer() {
        if (isRunning && !isPaused) return;

        isRunning = true;
        isPaused = false;
        startButton.style.display = 'none';
        pauseButton.style.display = 'unset';
        resumeButton.style.display = 'none';

        timer = setInterval(() => {
            if (remainingTime <= 0) {
                startButton.style.display = 'none';
                pauseButton.style.display = 'none';
                clearInterval(timer);
                isRunning = false;
                timerEndSound.play(); // Toca o áudio ao zerar
                return;
            }

            if (!isPaused) {
                remainingTime--;
                updateDisplay();
            }
        }, 1000);
    }

    function pauseTimer() {
        isPaused = true;
        pauseButton.style.display = 'none';
        resumeButton.style.display = 'unset';
    }

    function resumeTimer() {
        isPaused = false;
        pauseButton.style.display = 'unset';
        resumeButton.style.display = 'none';
    }

    function stopTimer() {
        clearInterval(timer);
        isRunning = false;
        isPaused = false;
        pauseButton.style.display = 'none';
        resumeButton.style.display = 'none';
        startButton.style.display = 'unset';
    }

    function resetTimer() {
        if (timer <= 0) {
            pauseButton.style.display = 'none';
            resumeButton.style.display = 'unset';
            startButton.style.display = 'none';
        }
        stopTimer();
        remainingTime = 25 * 60; // Reiniciar para 25 minutos
        updateDisplay();
    }

    function addTime() {
        remainingTime += 5 * 60;
        updateDisplay();
    }

    // Atualiza o display inicialmente
    updateDisplay();
</script>