@{
    ViewData["Title"] = "Detalhes do Grupo";
    Layout = "_LayoutTopMenu";
}

<style>
    .group {
        text-align: center;
        color: #155967;
        font-size: 30px;
        padding: 15px;
        font-weight: bold;
    }

    .back-to-groups {
        display: flex;
        align-items: center;
        position: relative;
        left: 50px;
        bottom: 40px;
        cursor: pointer;
    }

        .back-to-groups .material-symbols-outlined {
            margin-right: 5px;
        }

    .groups {
        color: #000000;
        text-decoration: none;
    }
</style>

<ul class="menu">
    <li><a href="#">Tarefas</a></li>
    <li><a href="#">Perguntas</a></li>
    <li><a href="#">Ranking</a></li>
    <li><a href="#">Membros</a></li>
    <li><a href="#">Configurações</a></li>
</ul>

<div class="group">
    {Nome do grupo}
</div>

<div class="back-to-groups" onclick="RedirecionarGrupos()">
    <span id="back" class="material-symbols-outlined">arrow_back_ios</span>
    <a class="groups">Grupos</a>
</div>
