@model GETAF.Models.Entities.Grupo
@{
    ViewData["Title"] = "Detalhes do Grupo";
    Layout = "_LayoutTopMenu";
}

<link rel="stylesheet" href="~/css/Grupo/DetalhesGrupo/Index.css" />


<ul class="menu">
    <li><a href="#">Tarefas</a></li>
    <li><a href="#">Perguntas</a></li>
    <li><a onclick="RedirecionarRanking()">Ranking</a></li>
    <li><a onclick="RedirecionarMembros(@Model.Id)">Membros</a></li>
    <li><a onclick="EntrarConfigGrupo(@Model.Id)">Configurações</a></li>
</ul>

<div class="group">
    @Model.Nome
    <p>Descrição: @Model.Descricao</p>
</div>

<div class="back-to-groups" onclick="RedirecionarGrupos()">
    <span id="back" class="material-symbols-outlined">arrow_back_ios</span>
    <a class="groups">Grupos</a>
</div>

<script>
    function EntrarConfigGrupo(grupoId) {
        window.location.href = `@Url.Action("EditarGrupo", "Grupo")?grupoId=` + grupoId;
    }
    function RedirecionarMembros(grupoId) {
        window.location.href = `@Url.Action("Membros", "GrupoUsuarios")?grupoId=` + grupoId;
    }
    function RedirecionarRanking(){
        window.location.href = `@Url.Action("Ranking", "Ranking")`;
    }
</script>
