@{
    Layout = "_LayoutTopMenu";
}

<link rel="stylesheet" href="~/css/Grupo/EditarGrupo/Index.css" />


<div class="content">
    <h2>Configurações</h2>
    <div class="profile-box">
        <div class="profile-header">
            <div id="edit">
                <h3>Editar grupo</h3>
                <p>Altere o campo abaixo para editar o nome do grupo.</p>
            </div>
        </div>
        <form action="#">
            <section id="sec-nome">
                <input type="text" id="nome-grupo" placeholder="{nome grupo}">
                <input type="text" id="desc-grupo" placeholder="{descrição grupo}">
            </section>
            <div class="button-group">
                <button type="button" class="cancel-btn">Cancelar</button>
                <button type="submit" class="confirm-btn">Confirmar</button>
            </div>
            <a href="#" class="delete-group" onclick="">Deletar grupo</a>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#loginForm").on("submit", function (event) {
            Login(event);
        });
    });

    function DetalhesGrupos(event) {
        event.preventDefault();

        var nome = document.getElementById('nome-grupo');
        if (nome.value.length == 0) {
            alert('O nome não foi escrito!');
            nome.focus();
            return;
        }

        var descricao = document.getElementById('desc-grupo');

        $.ajax({
            url: '@Url.Action("ValidarLogin", "Login")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                Email: email.value,
                Password: password.value
            }),
            success: function (retorno) {
                if (retorno.sucesso) {
                    window.location.href = '@Url.Action("Index", "Home")';
                    return;
                }
                alert('Não foi possível realizar o login. ' + retorno.mensagem);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error(jqXHR.responseText);
                alert('Algo deu errado ao fazer o login: ' + textStatus);
            }
        });
    }

    function Cadastrar() {
        window.location.href = '@Url.Action("Index", "Cadastro")';
    }

    function EsqueciSenha() {
        window.location.href = '@Url.Action("Index", "EsqueciSenha")';
    }

</script>