@{
    Layout = "_LayoutTopMenu";
}

<link rel="stylesheet" href="~/css/Grupo/EditarGrupo/Index.css" />


<div class="content">
    <h2>Configurações</h2>
    <div class="profile-box">
        <div class="profile-header">
            <div id="edit">
                <h3>Editar grupo</h3>
                <p>Altere o campo abaixo para editar o nome do grupo.</p>
            </div>
        </div>
        <form action="#">
            <section id="sec-nome">
                <input type="text" id="text" placeholder="{nome grupo}">
                <input type="text" id="text" placeholder="{descrição grupo}">
            </section>
            <div class="button-group">
                <button type="button" class="cancel-btn">Cancelar</button>
                <button type="submit" class="confirm-btn">Confirmar</button>
            </div>
            <a href="#" class="delete-group" onclick="">Deletar grupo</a>
        </form>
    </div>
</div>