
@{
    ViewData["Title"] = "Grupos";
    Layout = "_LayoutTopMenu";
}

<link rel="stylesheet" href="~/css/Grupo/Index/Index.css" />

<div class="content">
    <h1 class="grupos">Grupos</h1>
    <div class="create-group">
        <a href="#" onclick="showCreateGroupModal()">+ Criar grupo</a>
    </div>
    <div class="groups-section" id="ListaGrupos">
        
    </div>
</div>

<div id="createGroupModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCreateGroupModal()">&times;</span>
        <h2 class="titulo-novo-grupo">Criar Novo Grupo</h2>
        <input type="text" class="groupInputModal" id="groupName" placeholder="Nome do grupo" required>
        <input type="text" class="groupInputModal" id="groupDesc" placeholder="Descrição do grupo">
        <button id=criar onclick="createGroup()">Criar grupo</button>
    </div>
</div>

<script>

    function showCreateGroupModal() {
        document.getElementById("createGroupModal").style.display = "block";
    }

    function closeCreateGroupModal() {
        document.getElementById("createGroupModal").style.display = "none";
    }

    function EntrarNoGrupo(grupoId) {
        window.location.href = `@Url.Action("DetalhesGrupo", "Grupo")?grupoId=` + grupoId;
    }

    function createGroup() {
        var nome = document.getElementById("groupName").value;
        var descricao = document.getElementById("groupDesc").value;

        $.ajax({
            url: '@Url.Action("CriarGrupo", "Grupo")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                nome: nome,
                descricao: descricao
            }),
            success: function (retorno) {
                if (retorno.sucesso) {
                    closeCreateGroupModal();
                    ListarGrupos();
                }
                else alert(retorno.mensagem)

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Algo deu errado');
            }
        });
    }

    // Fechar modal ao clicar fora dele
    window.onclick = function (event) {
        const modal = document.getElementById("createGroupModal");
        if (event.target == modal) {
            closeCreateGroupModal();
        }
    };

    function toggleUserMenu() {
        var menu = document.getElementById('user-menu');
        menu.classList.toggle('show');
    }

    function ListarGrupos() {
        $.ajax({
            url: '@Url.Action("ListarGrupos", "Grupo")',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            success: function (data) {
                document.getElementById("ListaGrupos").innerHTML = data;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Algo deu errado');
            }
        });
    }

    window.onload = function () {
        ListarGrupos();
    };
</script>