body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.voltar {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.logo img {
    width: 100px;
    height: auto;
}

h2 {
    text-align: center;
    color: #155967;
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    color: #333;
}

.form {
    margin-top: 20px;
    text-align: left;
}

    .form input {
        width: 100%;
        padding: 10px;
        margin: 0 auto 20px auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .form label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        color: #333;
        font-weight: bold;
    }

.botao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.enviarcodigo {
    background-color: #80c8d8;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    width: 100%;
    max-width: 150px;
    text-align: center;
}

#enviar-codigo:hover {
    background-color: #559da8;
    color: white;
}
