
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="./css/AlterarSenha/Index.css">
    <title>Redefinir Senha</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="~/Imagens/logo_icon.png" alt="Logo">
        </div>
        <h2>Redefinir senha</h2>
        <p>Digite abaixo sua nova senha.</p>
        <div class="form">
            <input type="password" id="nova-senha" placeholder="Nova senha">
            <input type="password" id="confirmar-senha" placeholder="Confirmar nova senha">
        </div>
        <div class="botao-container">
            <button class="confirmar" id="confirmar">Confirmar</button>
            <a href="./login.html" class="cancelar">Cancelar</a>
        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    function RedefinirSenha() {

        var novaSenha = document.getElementById('nova-senha');
        if (novaSenha.value.length == 0) {
            alert('A senha não foi escrita');
            novaSenha.focus();
            return;
        }

        var confirmarSenha = document.getElementById('confirmar-senha');
        if (confirmarSenha.value.length == 0) {
            alert('A senha não foi escrita');
            confirmarSenha.focus();
            return;
        }

        $.ajax({
            url: '@Url.Action("RedefinirSenha", "AlterarSenha")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                NovaSenha: novaSenha.value,
                ConfirmarSenha: confirmarSenha.value
            }),
            success: function (retorno) {
                if (retorno.sucesso) {
                    window.location.href = '@Url.Action("Index", "Login")';
                }
                else {
                    alert('Algo deu errado ao fazer o envio: ' + retorno.mensagem);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error(jqXHR.responseText);
                alert('Algo deu errado ao fazer o envio: ' + textStatus);
            }
        });
    }

    $(document).ready(function () {
        $('#confirmar').click(function () {
            RedefinirSenha();
        });
    });

</script>
