@using GETAF.Models.ViewModel

@model EsqueciSenhaModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/css/EsqueciSenha/Index.css">
    <title>Esqueci a senha</title>
</head>
<body>
    <div class="container">
        <div class="voltar">
            <a class="botao" onclick="Voltar()">
            <i class="fas fa-arrow-left"></i>
            </a>
        </div>
        <div class="logo">
            <img alt="Logo">
        </div>
        <h2>Esqueci a senha</h2>
        <p>Digite seu e-mail que enviaremos um código para definir uma nova senha.</p>
        <div class="form">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="botao-container">
            <button class="enviarcodigo" id="enviar-codigo">Enviar código</button>
        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    
    function Voltar() {
        window.location.href = '@Url.Action("Index", "Login")'; 
    }

    function ReceberCodigo() { 

        var email = document.getElementById('email');
        if (email.value.length == 0) {
            alert('O email não foi escrito');
            email.focus();
            return;
        }

        $.ajax({
            url: '@Url.Action("ReceberCodigo", "EsqueciSenha")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                Email: email.value,
            }),
            success: function (retorno) {
                if (retorno.sucesso) {
                    window.location.href = '@Url.Action("Index", "CodigoSenha")';
                    return;
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error(jqXHR.responseText);
                alert('Algo deu errado ao fazer o envio: ' + textStatus);
            }
        });
    }

    $(document).ready(function () {
        $('#enviar-codigo').click(function () {
            ReceberCodigo();
        });
    });

</script>
