h2 {
    color: #155967;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px; /* Espaço abaixo do título */
    padding: 15px;
}

.delete-group {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
    max-width: 520px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

    .delete-group h3 {
        color: #155967;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .delete-group p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        color: #838383;
        margin: 10px 0;
    }

    .delete-group .info-icon {
        font-size: 24px;
        margin-right: 8px;
        color: #b92525;
    }

.confirmation-text {
    font-size: 1.2em;
    color: #999;
    margin: 20px 0;
}

.actions {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;
    padding: 10px;
}

.delete-btn, .cancel-btn {
    width: 130px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid;
    transition: background-color 0.3s ease;
}

.delete-btn {
    background-color: #207283;
    color: white;
}

    .delete-btn:hover {
        background-color: #155967;
    }

.cancel-btn {
    background-color: #fff;
    color: #155967;
    border: 1px solid #155967;
}

    .cancel-btn:hover {
        background-color: #e2e0e0;
        color: #155967;
        border: 1px solid #155967;
    }

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
