* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}
/*Início da header/topbar/navbar*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #155967;
    padding: 1rem 2rem;
    color: white;
    flex-direction: row;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    margin-right: 2rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

    .icon img {
        width: 40px;
        height: 40px;
    }

.menu {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 1rem;
    background-color: #e0e0e0;
    padding: 0.5rem;
    color: #333;
}

    .menu li a {
        display: flex;
        align-items: center;
        padding: 0.2rem 0.4rem;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s;
    }

.user {
    cursor: pointer;
}

    .user img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

.user-menu {
    display: none;
    position: fixed;
    right: 2rem;
    top: 4rem;
    background-color: #e0e0e0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

    .user-menu ul {
        list-style: none;
        padding: 1rem;
    }

        .user-menu ul li {
            margin-bottom: 1rem;
        }

            .user-menu ul li a {
                color: #000000;
                text-decoration: none;
                font-size: 15px;
                padding: 5px 5px 0px 5px;
            }


.show {
    display: block;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    gap: 0.3rem;
}


.navbar a:hover {
    background-color: #207283;
    color: #fff;
}

.user-menu a:hover {
    background-color: #c0c0c0;
    color: #333;
}

.menu li a:hover {
    background-color: #c0c0c0;
    color: #333;
}
