body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.voltar {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.logo img {
    width: 100px;
    height: auto;
}

h2 {
    text-align: center;
    color: #155967;
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    color: #333;
}

.form {
    margin-top: 20px;
    text-align: left;
}

    .form input {
        width: 80%;
        display: block;
        padding: 20px;
        margin: 0 auto 5px auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
    }

.botao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.confirmar {
    background-color: #80c8d8;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 150px;
    text-align: center;
}

#confirmar:hover {
    background-color: #559da8;
    color: white;
}

.codigo-n {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.reenviar {
    text-align: center;
    font-size: 13px;
}

    .reenviar a {
        color: #559da8;
        text-decoration: none;
    }

    .reenviar:hover {
        text-decoration: underline;
        color: #559da8;
    }

input::placeholder {
    color: #999;
    font-size: 18px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}
