@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GETAF.Models.Entities.Grupo
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="~/css/ExcluirGrupo/Index.css">
    <title>Configurações - Deletar Conta</title>

</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo-container">
                <h1 class="logo">UniFocus</h1>
                <div class="icons">
                    <a href="#grupos" onclick="window.location.href='./grupos.html'">
                        <span class="material-symbols-outlined">groups</span>
                        <span class="link-texto">Grupos</span>
                    </a>
                    <a href="#cronometro" onclick="window.location.href='./pomodoro.html'">
                        <span class="material-symbols-outlined">alarm</span>
                        <span class="link-texto">Cronômetro</span>
                    </a>
                    </a>
                    <a href="#ranking" onclick="window.location.href='./ranking.html'">
                        <span class="material-symbols-outlined">star</span>
                        <span class="link-texto">Ranking</span>
                    </a>
                    <a href="#tarefas" onclick="window.location.href='./tarefas.html'">
                        <span class="material-symbols-outlined">view_kanban</span>
                        <span class="link-texto">Tarefas</span>
                    </a>
                </div>
            </div>

            <div id="user-menu" class="user-menu">
                <ul>
                    <li><a href="#configuracoes" onclick="window.location.href='./configuracoes.html'">Configurações</a></li>
                    <li><a href="#telainicial" onclick="window.location.href='./telainicial.html'">Sair</a></li>
                </ul>
            </div>

            <div class="user" onclick="toggleUserMenu()">
                <img src="user-icon.png" alt="Ícone de usuário">
            </div>
        </div>

        <ul class="menu">
            <li><a href="#">Tarefas</a></li>
            <li><a href="#">Perguntas</a></li>
            <li><a href="#">Ranking</a></li>
            <li><a href="#">Membros</a></li>
            <li><a href="#">Configurações</a></li>
        </ul>
    </header>
    <!--Fim Side-bar-->
    <div class="content">
        <h2>Configurações</h2>
        <div class="delete-group">
            <h3>Deletar grupo</h3>
            <p class="p"><span class="material-symbols-outlined info-icon">info</span> Esta ação é irreversível.</p>
            <h3 id="nome-grupo">{nome do grupo}</h3>
            <p class="confirmation-text" id="nome-grup">Você tem certeza que deseja excluir o grupo
                `
                <select asp-for="Id" class="form-control" asp-items="ViewBag.Nome"></select>`
                ?</p>
            <div class="actions">
                <button class="delete-btn" onclick= "DeletarGrupo(
                    <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"> 
                    </select>)">
                    Deletar conta
                </button>
                <button class="cancel-btn" onclick="window.location.href='./configuracoes.html'">Cancelar</button>
            </div>
        </div>
    </div>
    <script>
        function toggleSidebar(id) {
            const sidebar = document.getElementById('user-menu');
            sidebar.classList.toggle('show');
        }
        function DeletarGrupo() {
            event.preventDefault();

            var grupo = document.getElementById('nome-grupo');

            $.ajax({
                url: '@Url.Action("Delete", "Grupoes")', //dúvida se aqui está certo
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "POST",
                data: JSON.stringify({
                    Nome: grupo.value,
                }),
                success: function (retorno) {
                    if (retorno.sucesso) {
                        alert('Deletado com sucesso.');
                        return;
                    }
                    alert('Não foi possível deletar o grupo. ' + retorno.mensagem);
                },
                error: function () {
                    alert('Algo deu errado ao fazer a exclusão.');
                }
            });
        }
    </script>
</body>
</html>
