
@{
    Layout = "_LayoutTopMenu";
}
<link rel="stylesheet" href="/css/Home/Index.css">

    <div class="content" id="content">
        <h1 class="titulo">Olá, @ViewBag.UsuarioNome!</h1>
    </div>
<p class="texto">Bem-vindo ao UniFocus, a solução para potencializar seus estudos!</p>
<p class="texto-inicial">Pronto para começar?</p>
<div class="container-botao">
    <button type="button" class="comecaragora" onclick="window.location.href='./grupos.html'">Começar agora</button>
</div>

