* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden; 
}
/*Início da header/topbar/navbar*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #155967;
    padding: 1rem 2rem;
    color: white;
    flex-direction: row;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin-right: 40px;
}

.logo img {
    height: 40px;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons a {
    padding: 0.5rem 0.4rem; 
    border-radius: 6px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon img {
    width: 40px;
    height: 40px;
}

.menu {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 1rem;
    background-color: #e0e0e0;
    padding: 0.5rem;
    color: #333;
}

.menu li a {
    display: flex; 
    align-items: center; 
    padding: 0.2rem 0.4rem; 
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s; 
}

.user {
    cursor: pointer;
}

.user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 4rem;
    background-color: #e0e0e0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.user-menu ul {
    list-style: none;
    padding: 1rem;
}

.user-menu ul li {
    margin-bottom: 1rem;
}

.user-menu ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 15px; 
    padding: 5px 5px 0px 5px; 
}

.show {
    display: block;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    gap: 0.3rem;
}


.navbar a:hover {
    background-color: #207283;
    color: #fff;
    
}
.user-menu a:hover {
    background-color: #c0c0c0; 
    color: #333;
    
}

.menu li a:hover {
    background-color: #c0c0c0; 
    color: #333; 
}


#excluir {
    color: #999999;
    cursor: pointer;
}

main {
    text-align: center;
    margin: 20px;
}

h2 {
    margin: 20px 0;
    color: #155967;
}

.members-section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 400px; 
}

/* Scroll */
.members-section::-webkit-scrollbar {
    width: 8px;
}

.members-section::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.members-section::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #155967;
    font-size: 18px;
}

td a {
    color: #155967;
    text-decoration: none;
}

/* Estilos da Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    border: 1px solid #888;
    width: 400px; 
    text-align: center;
    border-radius: 8px;
    padding-bottom: 10px;
}

.modal-content .head {
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid #DDD;
    padding: 19px;
  }

    .modal-content p {
        padding: 20px 20px 0 20px;
    }

    .modal-content .head span {
      font-size: 25px;
      color: #155967;
      font-weight: bold;
    }

    .modal-content .head button {
      border: none;
      background: none;
      font-size: 24px;
      font-weight: 700;
      cursor: pointer;
      color: #aaa;
    }

    .modal-content .head button:hover{
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

.div-close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modal-buttons {
    display: flex;
    flex-direction: column; /* Alinha os botões em coluna */
    align-items: center; /* Centraliza os botões */
    margin-top: 20px;
}

.modal-button {
    margin: 5px 0; /* Adiciona espaço entre os botões */
    border: none; /* Remove borda */
    border-radius: 5px; /* Arredonda os cantos */
    cursor: pointer; /* Muda o cursor para pointer */
    transition: background-color 0.3s; 
    font-size: 15px;
    padding: 9px 22px;
}

.modal-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-bottom: 15px;
}

.modal-button:nth-child(2) {
    background-color: #bb3b37; /* Cor do botão Excluir */
    color: #fff; 
}

.modal-button:nth-child(2):hover {
    background-color: #c72a25; /* Cor do botão Excluir */
    color: #fff; 
}

.modal-button:nth-child(1) { /* Cor do botão Cancelar */
    background-color: #fff;
    color: #155967;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #155967;
}

.modal-button:nth-child(1):hover {
    background-color: #e2e0e0; /* Cor do botão Cancelar */
    color: #155967;
    border: 1px solid #155967;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nome-grupo{
    text-align: center;
    padding-bottom: 5px;
    color: #155967;
}

.invite{
    text-align: center;
    color: #155967;
}

.invite-send{
    width: 150px;
    background-color: #207283;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
    transition: background-color 0.3s
}

.invite-send:hover{
    background-color: #155967;
}

.exit-button {
    width: 150px;
    background-color: #bb3b37; /* Cor do botão Excluir */
    color: #fff; 
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
    transition: background-color 0.3s
}

.exit-button:hover{
    background-color: #c72a25; /* Cor do botão Excluir */
    color: #fff; 
}

.invite-link{
    color: #155967;
    font-size: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.invite-link:hover{
    text-decoration: underline;
}

.invite-container {
    position: absolute; /* Para que possamos posicioná-lo */
    top: 100px; /* Distância do topo */
    right: 200px; /* Distância da direita */
}

#inviteButton, #exitButton {
    background-color: #D1D1D1; 
    border: none; 
    padding: 10px; 
    border-radius: 5px;
    cursor: pointer; 
    margin-top: 20px; /* Ajuste o valor conforme necessário */
    transition: background-color 0.3s
    
}

#inviteButton:hover, #exitButton:hover{
    background-color: #b6b6b6;
}

.texto {
    text-align: center;
    padding: 10px;
}

.or {
    text-align: center;
    padding: 0 10px 0 10px;
    color: #999;
    font-style: italic;
    margin-bottom: 12px;
}

.linha {
    border-top: 1px solid #999;
    width: 25px;
    margin-top: 8px;
}

#Email {
    width: 100%; 
    max-width: 300px; 
    margin: 10px 0; 
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

hr {
    border: none; /* Remove a borda da linha */
    height: 0; /* Define a altura da linha como 0 */
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

