@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login/Index.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="logo">
        <img src="~/Imagens/logo_icon.png" alt="Logo">
        </div> 
        <h2 class="login">Entrar</h2>
        <form id="loginForm">
            <div class="formulario">
                <input type="email" id="email" name="email" placeholder="E-mail" required>
            </div>
            <div class="formulario">
                <input type="password" id="password" name="password" placeholder="Senha" required>
            </div>
            <div class="esqueci-senha">
                <a href="#" onclick="EsqueciSenha()">Esqueci minha senha</a>
            </div>
            <div class="form">
                <button class="submit" type="submit">Entrar</button>
            </div>
        </form>
        <div class="conta">
            <a>Não possui uma conta?</a>
        </div>
        <div class="criar-conta">
            <a onclick="Cadastrar()">Cadastre-se</a>
        </div>
    </div> 
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#loginForm").on("submit", function (event) {
            Login(event);
        });
    });

    function Login(event) {
        event.preventDefault();

        var email = document.getElementById('email');
        if (email.value.length == 0) {
            alert('O email não foi escrito!');
            email.focus();
            return;
        }

        var password = document.getElementById('password');
        if (password.value.length == 0) {
            alert('A senha não foi escrita!');
            password.focus();
            return;
        }

        $.ajax({
            url: '@Url.Action("ValidarLogin", "Login")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                Email: email.value,
                Password: password.value
            }),
            success: function (retorno) {
                if (retorno.sucesso) {
                    window.location.href = '@Url.Action("Index", "Home")';
                    return;
                }
                alert('Não foi possível realizar o login. ' + retorno.mensagem);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error(jqXHR.responseText);
                alert('Algo deu errado ao fazer o login: ' + textStatus);
            }
        });
    }

    function Cadastrar() {
        window.location.href = '@Url.Action("Index", "Cadastro")';
    }

    function EsqueciSenha() {
        window.location.href = '@Url.Action("Index", "EsqueciSenha")';
    }

</script>