@{
    ViewData["Title"] = "Ranking Membro";
    Layout = "_LayoutTopMenu";
}

<link rel='stylesheet' href="~/css/Ranking/Index.css"/>
<link rel="stylesheet" href="~/css/Grupo/Index/Index.css" />

<h1 class="tituloRanking">Ranking</h1>

<div id="mainRanking">
    <div id="_listaGrupos"></div>
    <div id="_rankingGrupo"></div>
</div>

<script type="text/javascript">
    function ListarGrupos() {
        $.ajax({
             url: '@Url.Action("ListarGrupos", "Grupo")',
             contentType: "application/json; charset=utf-8",
             type: "POST",
             success: function (data) {
                     document.getElementById("_listaGrupos").innerHTML = data;
             },
             error: function (jqXHR, textStatus, errorThrown) {
                 alert('Algo deu errado');
             }
         });
    }

    window.onload = function () {
        ListarGrupos();
    };

    //eu odiei isso aqui... mas quis reaproveitar o card da turma... me perdoem
    function EntrarNoGrupo(grupoId) {
         $.ajax({
            url: '@Url.Action("CarregarRanking", "Ranking")',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                GrupoId: grupoId,
            }),
            success: function (data) {
                document.getElementById("_rankingGrupo").innerHTML = data;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Algo deu errado');
            }
        });
    }
</script>
