@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ranking";
    Layout = "_LayoutTopMenu";
}

<link rel='stylesheet' href="~/css/Ranking/Index.css"/>

<ul class="menu">
    <li><a href="#">Tarefas</a></li>
    <li><a href="#">Perguntas</a></li>
    <li><a href="#">Ranking</a></li>
    <li><a href="#">Membros</a></li>
    <li><a href="#">Configurações</a></li>
</ul>

<main>
    <div class="ranking-container">
        <h1 class="nomeranking">Ranking</h1>
        <div class="top-3">
            <div class="rank">
                <span class="medalha prata">🥈</span>
                <p>Charlie Fidalgo</p>
                <img src="https://i.pinimg.com/736x/5d/3f/26/5d3f26d4ee1e3aaf9b002f98050dd1ae.jpg" alt="Charlie Fidalgo" class="foto-perfil">
                <p>400</p>
            </div>
            <div class="rank">
                <span class="medalha ouro">👑</span>
                <p>Juliana Fidalgo</p>
                <img src="https://i.pinimg.com/736x/5d/3f/26/5d3f26d4ee1e3aaf9b002f98050dd1ae.jpg" alt="Juliana Fidalgo" class="foto-perfil">
                <p>500</p>
            </div>
            <div class="rank">
                <span class="medalha bronze">🥉</span>
                <p>Luna Fidalgo</p>
                <img src="https://i.pinimg.com/736x/5d/3f/26/5d3f26d4ee1e3aaf9b002f98050dd1ae.jpg" alt="Luna Fidalgo" class="foto-perfil">
                <p>300</p>
            </div>
        </div>

        <div class="rank-lista-container">
            <ul class="rank-lista">
                <li><img src="https://i.pinimg.com/736x/5d/3f/26/5d3f26d4ee1e3aaf9b002f98050dd1ae.jpg" alt="usuário" class="foto-perfil-small"> Membro - 200</li>
                <li><img src="https://i.pinimg.com/736x/5d/3f/26/5d3f26d4ee1e3aaf9b002f98050dd1ae.jpg" alt="usuário" class="foto-perfil-small"> Membro - 100</li>
                <li><img src="https://i.pinimg.com/736x/5d/3f/26/5d3f26d4ee1e3aaf9b002f98050dd1ae.jpg" alt="usuário" class="foto-perfil-small"> Membro - 90</li>
                <li><img src="https://i.pinimg.com/736x/5d/3f/26/5d3f26d4ee1e3aaf9b002f98050dd1ae.jpg" alt="usuário" class="foto-perfil-small"> Membro - 90</li>
                <li><img src="https://i.pinimg.com/736x/5d/3f/26/5d3f26d4ee1e3aaf9b002f98050dd1ae.jpg" alt="usuário" class="foto-perfil-small"> Membro - 90</li>
                <li><img src="https://i.pinimg.com/736x/5d/3f/26/5d3f26d4ee1e3aaf9b002f98050dd1ae.jpg" alt="usuário" class="foto-perfil-small"> Membro - 90</li>
            </ul>
        </div>
    </div>
</main>

<script>
    function toggleUserMenu() {
        var menu = document.getElementById('user-menu');
        menu.classList.toggle('show');
    }
</script>